<h1>Rails 投稿一覧</h1>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.title %>
      <a href="<%= edit_post_path(post.id) %>">編集</a>
      <%= link_to "削除", post_path(post.id), method: :delete, data: { turbo_method: 'delete', turbo_confirm: '本当に削除しますか' } %>
    </li>
  <% end %>
</ul>

<a href="<%= new_post_path %>">新しい投稿を作成する</a>
